[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=harbour-are
Exec=harbour-are
Name=harbour-are
# translation example:
# your app name in German locale (de)
Name[de]=harbour-are

